body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.background-padding {
  padding: 0.5mm;
  border-radius: 2mm;
  background-color: white;
  z-index: 10;
}

#poster {
  inline-size: 209mm;
  block-size: 296mm;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border: 1px black solid;
  position: relative;
  overflow: hidden;
}

.decoration {
  position: absolute;
}

#top-left {
  left: -36mm;
  top: -42mm;
}

#top-right {
  right: -44mm;
  top: -36mm;
}

#bottom-left {
  left: -38mm;
  bottom: -37mm;
}

#bottom-right {
  right: -47mm;
  bottom: -39mm;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  inline-size: 100%;
}

#top-logos {
  margin-block-start: 4mm;
  margin-block-end: 4mm;
}

#covid-logo {
  block-size: 35mm;
}

.iyil {
  padding-block-start: 1mm;
  padding-block-end: 1mm;
}

#poster-background {
  margin-inline-start: 12mm;
  margin-inline-end: 12mm;
  background-color: #39a5e6;
  color: white;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
}

#poster-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
  flex-grow: 1;
  position: relative;
}

#top-stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 4mm;
}

[contenteditable="true"] {
  min-block-size: 8mm;
  min-inline-size: 48mm;
  border: 2px dotted white;
  border-radius: 4px;
  padding-inline-start: 2mm;
  padding-inline-end: 2mm;
  overflow-wrap: anywhere;
  word-break: break-word;
}

[contenteditable="true"] br:last-child {
  display: none;
}

.pl2 {
  font-style: italic;
}

#stop {
  font-size: 36pt;
  margin-block-end: 4mm;
  text-align: center;
}

#language {
  cursor: text;
}

.panlex-language-picker > ul {
  color: black;
  font-weight: normal;
  max-block-size: 150mm;
  overflow: auto;
  /* min-inline-size: 50mm; */
}

.panlex-language-picker li {
  border-block-end: 1px black solid;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  transform-origin: top;
}

.panlex-language-picker li:hover {
  background-color: lightgrey;
}

.panlex-language-picker li > div:first-child > span:first-child {
  margin-inline-end: 8px;
}

.panlex-language-picker li > div:first-child > span:last-child {
  font-size: 10pt;
  color: grey;
}

.panlex-language-picker li > div:last-child {
  font-style: italic;
}

#search-icon {
  position: relative;
  inset-inline-end: 24px;
  color: #4c4c4c;
}

#steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18pt;
  margin-inline-start: 24mm;
  justify-content: center;
  align-self: flex-start;
  flex-grow: 1;
}

#steps > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-block-end: 1mm; */
}

.caption {
  margin-inline-end: 24mm;
}

.error {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 2mm;
  font-size: 11pt;
  font-weight: normal;
  font-style: italic;
  color: red;
  background-color: white;
  border: 1px solid red;
  border-radius: 4px;
  padding-inline-start: 6px;
  padding-inline-end: 6px;
  padding-block-start: 2px;
  padding-block-end: 2px;
}

#bottom-stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 2mm;
}

#email-form {
  font-weight: normal;
  margin-block-end: 2mm;
}

#email-note {
  font-size: 11pt;
}

#pw-save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block-end: 1mm;
}

#save-icon {
  margin-inline-start: 2mm;
  font-size: 32px;
  cursor: pointer;
}

#share {
  font-weight: normal;
  font-size: 18pt;
}

.icon {
  block-size: 24mm;
  margin-inline-end: 10mm;
}

#bottom-logos {
  margin-block-start: 4mm;
  margin-block-end: 4mm;
  display: flex;
  justify-content: center;
}

#pllogo {
  max-block-size: 23.5mm;
  max-inline-size: 29.5mm;
  margin-inline-start: 16mm;
}

#pllogo > img {
  max-block-size: 100%;
  max-inline-size: 100%;
}

#tclogo {
  max-block-size: 10.5mm;
  max-inline-size: 44.5mm;
}

#tclogo > img {
  max-block-size: 100%;
  max-inline-size: 100%;
}

#cc-license {
  position: absolute;
  right: 5mm;
  bottom: 0;
  z-index: 10;
}

#cc-license .cc-description {
  position: relative;
  top: -250px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #666;
  color: #fff;
  display: none;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

#disclaimer {
  font-weight: normal;
  font-size: 8pt;
  inline-size: 60%;
  text-align: center;
}

#email-blurb {
  font-size: 10pt;
  align-self: center;
  background-color: white;
  margin: 1.5mm;
}

#bottom-buttons {
  display: flex;
  justify-content: space-between;
  inline-size: 209mm;
}

#bottom-buttons > div {
  display: flex;
}

.close-button {
  font-size: 18pt;
  display: flex;
  justify-content: flex-end;
  margin-block-start: 2mm;
  margin-inline-end: 4mm;
  cursor: pointer;
}

.share-buttons {
  display: grid;
  /* flex-direction: row; */
  /* margin-block-start: 4px; */
  /* inline-size: 209mm; */
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(3, 1fr);
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  margin-block-end: 8px;
}

.share-buttons .share-button {
  margin: 8px;
}

.share-button {
  color: white;
  border-radius: 4px;
  inline-size: 64px;
  block-size: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 25ms ease-out;
  font-size: 24pt;
  text-decoration: none;
  margin: 16px;
  cursor: pointer;
}

.facebook {
  background-color: #3b5998;
}

.facebook:hover {
  background-color: #2d4373;
}

.twitter {
  background-color: #55acee;
}

.twitter:hover {
  background-color: #2795e9;
}

.plain {
  background-color: #777;
}

.plain:hover {
  background-color: #5e5e5e;
}

#linkedin {
  background-color: #0073b1;
}

#linkedin:hover {
  background-color: #005a8a;
}

#whatsapp {
  background-color: #25d366;
}

#whatsapp:hover {
  background-color: #1da851;
}

#vk {
  background-color: #507299;
}

#vk:hover {
  background-color: #43648c;
}

#telegram {
  background-color: #54a9eb;
}

#telegram:hover {
  background-color: #4b97d1;
}

#weibo {
  background-color: #e1162c;
}

#weibo:hover {
  background-color: #cf1429;
}

#weixin {
  background-color: #2dc100;
}

#weixin:hover {
  background-color: #28ad00;
}

#qq {
  background-color: #161616;
}

#qq:hover {
  background-color: #000000;
}

#qrcode {
  padding: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.5);
  /* transition: opacity 200ms; */
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: white;
  border: 1px solid #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  align-self: flex-end;
  margin-block-end: 30mm;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    margin: 0;
  }

  #poster {
    margin-block-start: 10mm;
    margin-block-end: 0;
    margin-inline-start: 10mm;
    margin-inline-end: 10mm;
    inline-size: 189mm;
    block-size: 266mm;
  }

  #poster-background {
    color: black;
  }

  .noprint {
    display: none !important;
  }

  [contenteditable="true"] {
    border: unset;
    border-radius: unset;
    padding-inline-start: unset;
    padding-inline-end: unset;
  }
}
